.page {
  background: #795548;
}
img {
  max-width: 100%;
}
a {
  color: #3D3C3A;
}
h3 {
  font-weight: normal;
  padding-bottom: 2px;
  font-family: Georgia;
}
h2 {
  margin-top: 0;
  font-size: 24px;
  font-style: italic;
  font-family: Georgia;
}
h1 {
  font-family: Georgia;
}
.source {
  border-bottom: 5px solid #E8E8E8;
  margin-bottom: 35px;
  padding-bottom: 20px;
}
.more {
  padding: 10px;
  background: #E2A76F;
}
.container {
  margin: auto;
  background: beige;
  max-width: 700px;
  overflow: auto;
}
@media(min-width: 650px) {
.right-column {
  width: 34%;
  float: left;
  box-sizing: border-box;
  overflow: auto;
}
.left-column {
  width: 66%;
  float: left;
  box-sizing: border-box;
  overflow: auto;
}
}
